{% extends 'base.html' %}

{% block content %}
{% load static %}
       

<article id="content" class="col-8">
	<div class="wrap">
<section class="col-1-3"><div class="wrap-col">
<div class="box">
<div id="my-foods">
<h2 class="letter_spacing">{{food.food_name}}<span></span></h2>
<figure><img src="{{food.food_image.url}}" alt="" ></figure>
<p class="pad_bot1">{{food.food_description}}</p>
<h2 class="letter_spacing">price : <span>{{menus.price}}</span></h2>
<h2 class="letter_spacing">Restaurant : <span>{{menus.branch.restaurant_branch_name}}</span></h2>
{%if msg%}
<h1>{{msg}}</h1>
{%endif%}

<form method="POST" action="{% url 'order_detail' menus.id %}" class="text-dark">
	{% csrf_token %}
	<input min="1" value=1 type="number" name="number" class="m-2">
	<button id="add" class="btn btn-dark ml-5" type="submit">Add to Cart</button>

</form>


</div>
</div></section>

</div>
</article>

{%endblock content%}
{% comment %} {% block script %}
<script>
$(document).ready(function(){
    localItems = JSON.parse(localStorage.getItem('localItems'));
    if (localItems){
        localItems.forEach(function (item) {
            $("#my-foods").append("<h2 class='letter_spacing'>"+item.food.food_name+"<span></span></h2>"+
			"<figure><img src="+item.food.food_image.url+"></figure>"+
			"<p class='pad_bot1'>"+item.food.food_description+"</p>"+
			"<h2 class='letter_spacing'>price : <span>"+item.menus.price+"</span></h2>"+
			"<h2 class='letter_spacing'>Restaurant : <span>"+item.menus.branch.restaurant_branch_name+"</span></h2>")
        })
    }
    $("#add").click(function(){
        var i = $("#my-foods").val().trim();

        if (item != ''){
            let localItems;
            localItems = [];
            if(localStorage.getItem('localItems') === null){
                localItems = [];
            }else{
                localItems = JSON.parse(localStorage.getItem('localItems'));
            }
            localItems.push(item);
            console.log(item);

            localStorage.setItem('localItems', JSON.stringify(localItems));

            $("#my-foods").append("<h2 class='letter_spacing'>"+item.food.food_name+"<span></span></h2>"+
			"<figure><img src="+item.food.food_image.url+"></figure>"+
			"<p class='pad_bot1'>"+item.food.food_description+"</p>"+
			"<h2 class='letter_spacing'>price : <span>"+item.menus.price+"</span></h2>"+
			"<h2 class='letter_spacing'>Restaurant : <span>"+item.menus.branch.restaurant_branch_name+"</span></h2>")

        }else{
            alert("please enter something to add")
        }
        
    })
})
</script>
{% endblock script %} {% endcomment %}
